body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #FFF;
  font-size: 6.5rem;
}

a {
  color: #00B7FF;
}

.weatherImage {
    width: 20%;
}

.weatherContainer {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: bottom;
    transform-style: preserve-3D;
}
