body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #FFF;
  font-size: 6.5rem;
}

a {
  color: #00B7FF;
}

.weatherImage {
    width: 20%;
}
